@import '../variables.scss';


.title{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: $black;
    font-family: system-ui;
    font-size: x-large;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    @media screen and (min-width: $medium) { 
        font-size: xx-large;
        margin-top: initial;
        margin-bottom: initial;
    }

}