@import '../variables.scss';

.button{
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: $white;
    font-weight: bold;
    background-color: $little-black;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

.errorMsgLogin {
    width: 100%;
    opacity: 0;
    margin-top:7%;
}
  
.errorVisible{
    width: 30%;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    font-weight: $fontbold;
    color: $red-meat;
    border: 2px solid $red-meat;
    opacity: 1;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

title{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: $black;
    font-family: system-ui;
    font-size: x-large;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    @media screen and (min-width: $medium) { 
        font-size: xx-large;
        margin-top: initial;
        margin-bottom: initial;
    }

}

.createAccountPage{
    &__content {
        z-index: 1;
        width: 100%;
        height: 100%;
    }
  
    &__form{
      align-self: flex-start;
      display: grid;
      justify-items: center;
      align-items: center;
    }
  
    &__pwRequirement{
      width: 80%;
      @media screen and (min-width: $xlarge) {  
        width: 40%;
      }
      margin:0;
      font-size: 12px;
      color: $little-black;
    }
  
    &__errorZone {
      display: grid;
      justify-items: center;
      align-items: center;
      opacity: 0;
      margin-right: auto;
      margin-left: auto;
      margin-top:7%;
    }
  
    &__formField::placeholder {
      color: $little-black;
    }
  
    &__formField {
      border: none;
      border-bottom: 1px solid $little-black;
      margin: 15px 0;
      border-radius: 3px;
      width: 80%;
      @media screen and (min-width: $xlarge) {  
        width: 40%;
      }
    }
  
    &__formSubmit {
      width: 50%;
      @media screen and (min-width: $xlarge) {  
        width: 40%;
      }
    }
    &__routerZone{
      width: 100%;
      height: 100%;
      display:flex;
      flex-direction: column;
    }
  
    &__router{
      background-color: transparent;
      width: 80%;
      @media screen and (min-width: $xlarge) {  
        width: 40%;
      }
      margin-left: auto;
      margin-right: auto;
      text-align: right;
    }
  
    &__routerButton{
      background-color: transparent;
      border:none;
      padding: 10px;
      font-style: italic;
      color:blue;
      text-align: right;
      cursor: pointer;
    }
  }